<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          {% if site.author_image %}
          <li>
            <img src="{{ site.author_image }}" alt="{{ site.author | escape }}"/>
          </li>
          {% endif %}
          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
            </li>
            {% if site.email %}
              <li id="emailContainer">
                <script type="text/javascript">
                  {% assign email = site.email|split: '@' %}
                  var a = document.createElement('a');
                  a.href = 'mailto:';
                  a.href += '{{ email[0] }}';
                  a.href += '@';
                  a.href += '{{ email[1] }}';
                  a.innerHTML = '{{ email[0] }}';
                  a.innerHTML += '@';
                  a.innerHTML += '{{ email[1] }}';
                  document.getElementById('emailContainer').appendChild(a);
                </script>
              </li>
            {% endif %}
        </ul>
      </div>


      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

  </div>

</footer>
